@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300;500;700&family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=Are+You+Serious&family=Honk&family=Lovers+Quarrel&family=Monoton&family=My+Soul&family=Nabla&family=Permanent+Marker&family=Reenie+Beanie&family=Satisfy&family=UnifrakturMaguntia&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-artistic: "Cormorant Garamond", serif;
  --font-marker: "Permanent Marker", cursive;
  --font-cursive: "Satisfy", cursive;

  --color-studio-bg: #0F0F0F;
  --color-studio-panel: #141414;
  --color-studio-card: #FFFFFF;
  --color-studio-ink: #000000;
  --color-studio-accent: #FACC15;
}

@layer base {
  body {
    @apply bg-studio-bg text-white font-sans antialiased;
  }
}

.canvas-shadow {
  box-shadow: 0 20px 50px -12px rgba(0, 0, 0, 0.15);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
